{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/png" href="{% static 'js/jasmine/jasmine_favicon.png' %}">
        <link rel="stylesheet" href="{% static 'js/jasmine/jasmine.css' %}" />

        <script src="{% static 'js/jasmine/jasmine.js' %}"></script>
        <script src="{% static 'js/jasmine/jasmine-html.js' %}"></script>
        <script src="{% static 'js/jasmine/boot.js' %}"></script>

        <script src="{% static 'js/jasmine/spec/javascripts/scriptSpec.js' %}"></script>

        <title>Jasmine Testing</title>
    </head>
<body>
    
</body>
</html>